layout{
    focus-ring{
        active-gradient from="#83d3e3cc" to="#bcc5ebcc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#343a3c"
        urgent-color "#ffb4ab"
    }
}
