layout{
    focus-ring{
        active-gradient from="#f8f7ffcc" to="#fff7f1cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#3a3939"
        urgent-color "#ffb4ab"
    }
}
